* {
    box-sizing: border-box;
}

:root {
    --text: #7575a5;
    --peach: blanchedalmond;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 15;
    }

main {
    display: flex;
}

header {
    padding: 5px;
    margin: 0;
    text-align: center;
    line-height: 0.5;
    background: var(--peach);
    color: var(--text);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1%;
    background-color: aliceblue;
    margin-top: 0%;
    }

nav a:link,
a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: olivedrab;
}
aside {
    width: 210px;
    height: 400px;
    background-color: white
}

aside img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;    
}

aside p {
    width: 200px;  
}

.feature-project {
    display:;
    column-gap: 20px;
    
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 300x 100px 100px;
    background-color: blanchedalmond;
}

footer p {
    display: flex;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    background: var(--peach);
    padding: 8px;
    color: var(--text);
    
}

@media screen and (max-width: 992px) {
    header {
    background-color: rgb(219, 205, 231);
      }
}
  
@media screen and (max-width: 768px) {       
    header {
        background-color: rgb(214, 217, 223);
       }
}

@media screen and (max-width: 576px) {
    header {
    background-color: rgb(206, 230, 206);
    }
 }