* {
    box-sizing: border-box;
}

:root {
    --text: #7575a5;
    --peach: blanchedalmond;
    --green: #6b8e23;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 15;
}

main {
    display: flex;
}

header {
    padding: 5px;
    margin: 0;
    text-align: center;
    line-height: 0.5;
    background: var(--peach);
    color: var(--text);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1%;
    background-color: aliceblue;
    margin-top: 0%;
    margin-left: 0px;;
}

nav ul li {
    font-size: 14px;
}

nav a:link,
a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover,
div a:hover { 
    text-decoration: underline;
    color: var(--green);
}

aside {
    width: 210px;
    height: 400px;
    background-color: white;
}

aside img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

aside p {
    width: 200px;
    text-align: center;
    margin-left: none;
    font-size: 11px;
    color: var(--text);
}

div a {
    font-size: larger;
    font-style: oblique;
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

ul {
    text-align: left;
    list-style-type: circle;
    font-size: 11px;
    margin-left: -12px;
    color: #6b8e23;
      
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.projects header {
    display: inline-block;
    text-align: center;
    font-size: larger;
    background-color: transparent;
    flex-direction: column-reverse;
    position: absolute;
    padding: 40px;
}


.card {
    display: flex;
    border: none;
    flex-basis: 49%;
    height: 100px;
    background-color: var(--peach);
    justify-content: center;
}


.card:hover {
    box-shadow: 0 0 10px #6b8e23;
}

.card1 {
    display: flex;
    flex-basis: 100%;
    height: 200px;
}

footer p {
    display: flex;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    background: var(--peach);
    padding: 8px;
    color: var(--text);
}

@media screen and (max-width: 992px) {
    header {
        background-color: rgb(219, 205, 231);
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color: rgb(214, 217, 223);
    }
    .card {
        flex-basis: 100%;
}
}

@media screen and (max-width: 576px) {
    header {
        background-color: rgb(206, 230, 206);
    }
    .card {
        flex-basis: 100%;
    }
}